
{% extends 'base-back.html.twig' %}
{% block stylesheets %}
    {# Incluez les fichiers CSS Bootstrap ici #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .custom-card {
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        .custom-form-label {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block body %}

<!doctype html>
<html lang="en">

    
<!-- Mirrored from themesdesign.in/minible-symfony/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 10:47:37 GMT -->
<head>
        
        <meta charset="utf-8" />
        <title>Login | Minible - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{{asset('back-office/images/favicon.ico')}}">

        <!-- Bootstrap Css -->
        <link href="{{asset('back-office/css/bootstrap.min.css')}}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{{asset('back-office/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{{asset('back-office/css/app.min.css')}}" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    <body>
    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <center><h1>Ajouter un produit</h1></center>
                   <form action="{{ path('produit_ajouter') }}" method="post" enctype="multipart/form-data">
                   {{ form_row(form._token) }}

    <div class="mb-3">
    <label for="nom" class="form-label">Nom du produit</label>
    {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.nom) }}
    </div>
</div>

<div class="mb-3">
    <label for="description" class="form-label">Description</label>
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.description) }}
    </div>
</div>

    <div class="mb-3">
    <label for="prix" class="form-label">Prix</label>
    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.prix) }}
    </div>
</div>

    <div class="mb-3">
        <label for="Type" class="form-label">Type</label>
        {{ form_widget(form.Type, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.Type) }} {# Affichage des erreurs pour le champ Type #}
    </div>

   <div class="mb-3">
    <label for="quantite" class="form-label">Quantité</label>
    {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.quantite) }}
    </div>
</div>

<div class="mb-3">
    <label for="quantiteVendues" class="form-label">Quantité vendues</label>
    {{ form_widget(form.quantiteVendues, {'attr': {'class': 'form-control'}}) }}
    <div class="text-danger">
        {{ form_errors(form.quantiteVendues) }}
    </div>
</div>

    <div class="mb-3">
        <label for="imageFile" class="form-label">Image</label>
        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger">

        {{ form_errors(form.imageFile) }} 
            </div>
    {# Affichage des erreurs pour le champ imageFile #}
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
    {{ form_end(form) }}
</form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-- Mirrored from themesdesign.in/minible-symfony/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 21 Mar 2024 10:47:37 GMT -->
</html>
{% endblock %}